{{ partial "header.html" . }}
{{ partial "logo.html" . }}
<article class="article-support">

    <section class="support-subscriptions">

        <h1>InfluxDB Support Plans for Every Organization</h1>

        <p style="text-align:center;">The InfluxDB team is here to help you achieve success throughout the life-cycle of your project.</p>

        <table cellspacing="0" cellpadding="0" class="support-plans">

            <tbody>

            <tr class="support-plans-class">
                <td colspan="9">Development Support Plans</td>
            </tr>

            <tr class="support-plans-headers">
                <th>Tier</th>
                <th>Coverage</th>
                <th>Response time</th>
                <th>Incidents</th>
                <th>Contacts</th>
                <th>Email</th>
                <th>Price</th>
                <th>Purchase</th>
            </tr>

            <tr class="support-tier-development">
                <td data-label="tier">Developer</td>
                <td data-label="coverage"><b>Business Hours</b></td>
                <td data-label="response time"><b>6 business hour</b> response time</td>
                <td data-label="incidents"><b>Unlimited</b> incidents</td>
                <td data-label="contacts"><b>1</b> contact</td>
                <td data-label="email support"><b>&#10003;</b></td>
                <td data-label="price support"><b>$350</b>per month</td>
                <td data-label="support" id="buynow">
                    <form action="{{ .Site.Params.CustomersUrl }}/api/support_charges" method="POST">
                        <script
                                src="//checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{.Site.Params.StripeApiToken}}"
                                data-image="/img/influx-128.png"
                                data-name="InfluxDB"
                                data-description="Developer Support Plan"
                                data-label="Buy Now"
                                data-amount="35000"
                                data-currency="USD"
                                data-allow-remember-me=false>
                        </script>
                    </form>
                </td>
            </tr>
            </tbody>

        </table>

        <table cellspacing="0" cellpadding="0" class="support-plans">

            <thead>

            </thead>

            <tbody>

            <tr class="support-plans-class">
                <td colspan="9">Production Support Plans</td>
            </tr>

            <tr class="support-plans-headers">
                <th>Tier</th>
                <th>Coverage</th>
                <th>Response time</th>
                <th>Incidents</th>
                <th>Contacts</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>

            <tr class="support-tier-silver">
                <td data-label="tier">Silver</td>
                <td data-label="coverage"><b>Business Hours</b></td>
                <td data-label="response time"><b>1 business day</b> response time for critical issues</td>
                <td data-label="incidents"><b>10</b> max annual incidents</td>
                <td data-label="contacts"><b>2</b> contacts</td>
                <td data-label="email support"> <b> &#10003;</b></td>
                <td data-label="phone support">&nbsp;</td>
            </tr>

            <tr class="support-tier-gold">
                <td data-label="tier">Gold</td>
                <td data-label="coverage"><b>Business Hours</b></td>
                <td data-label="response time"><b>4 hours</b> response time for critical issues</td>
                <td data-label="incidents"><b>Unlimited</b> max annual incidents</td>
                <td data-label="contacts"><b>6</b> contacts</td>
                <td data-label="email support"><b>&#10003;</b></td>
                <td data-label="phone support"><b>&#10003;</b></td>

            </tr>
            <tr class="support-tier-platinum">
                <td data-label="tier">Platinum</td>
                <td data-label="coverage"><b>24/7</b></td>
                <td data-label="response time"><b>2 hour</b> response time for critical issues</td>
                <td data-label="incidents"><b>Unlimited</b> max annual incidents</td>
                <td data-label="contacts"><b>8</b> contacts</td>
                <td data-label="email support"><b>&#10003;</b></td>
                <td data-label="phone support"><b>&#10003;</b></td>
            </tr>
            </tbody>

        </table>

        <p class="call-to-action"><a href="mailto:support%40influxdb.com?subject=InfluxDB%20Production%20Support%20Inquiry&body=Hello%2C%0A%0AI%20would%20like%20to%20know%20more%20about%20the%20production%20support%20plans%20available%20for%20InfluxDB.">Contact us for details!</a> </p>
        <h3>Development Plans</h3>

        <p>Purchases for InfluxDB development support provide unlimited web and email support for 30 days. These plans are ideal for developers in the initial development phase to have questions promptly answered to help get them up to speed quickly.</p>

        <h3>Production Plans</h3>

        <p>InfluxDB provides subscriptions for enterprise licenses and support from the core development team that built InfluxDB. Production level support gives you access to hot fixes and patches to resolve issues in your production environment. We'll help you with schema design and queries to ensure the best performance for your use case.</p>

    </section>

    <section class="support-features">

        <h2>Support Features</h2>

        <ul class="features">
            <li class="feature-module">

                <figure class="twenty-four-seven"></figure>

                <h3>Production grade SLAs</h3>
                <p>Rest easy with 24/7 support plans available</p>
            </li>
            <li class="feature-module">

                <figure class="team"></figure>

                <h3>Escalated support to the InfluxDB core developers</h3>
                <p>Let the database engineers handle the most difficult problems</p>
            </li>
            <li class="feature-module">

                <figure class="experts"></figure>

                <h3>Advice on schema and best practices design</h3>
                <p>Get the most out of InfluxDB by getting advice on how to structure your data and queries</p>
            </li>
            <li class="feature-module">

                <figure class="emergency"></figure>

                <h3>Hotfixes and emergency patches</h3>
                <p>Get production issues resolved immediately</p>
            </li>
        </ul>

    </section>

</article>
{{ partial "nav.html" . }}
{{ partial "footer.html" . }}
