<aside class="nav-docs">

	<a href="#" id="hideDocNav" class="hide-all-docs">Hide All Docs</a>

	<h2>InfluxDB Docs v0.9</h2>
	
	<h3>Introduction</h3>
	<ul>
		<li class="nav-active-item"><a href="/docs/v0.9/introduction/overview.html">Overview</a></li>
		<li><a href="/docs/v0.9/introduction/installation.html">Installation</a></li>
		<li><a href="/docs/v0.9/introduction/getting_started.html">Getting Started</a></li>
	</ul>
	
	<h3>Fundamentals</h3>
	<ul>
		<li><a href="/docs/v0.9/concepts/key_concepts.html">Key Concepts</a></li>
		<li><a href="/docs/v0.9/concepts/reading_and_writing_data.html">Reading and Writing Data</a></li>
		<li><a href="/docs/v0.9/concepts/schema_and_data_layout.html">Schema and Data Layout</a></li>
		<li><a href="/docs/v0.9/concepts/continuous_queries.html">Continuous Queries</a></li>
		<li><a href="/docs/v0.9/concepts/authentication_and_authorization.html">Authentication and Authorization</a></li>
		<li><a href="/docs/v0.9/concepts/logs.html">Logs</a></li>
		<li><a href="/docs/v0.9/concepts/backup_and_restore.html">Backup and Restore</a></li>
	</ul>
	
	<h3>Query Language</h3>
	<ul>
		<li><a href="/docs/v0.9/query_language/data_exploration.html">Data Exploration</a></li>
		<li><a href="/docs/v0.9/query_language/querying_data.html">Querying Data</a></li>
		<li><a href="/docs/v0.9/query_language/aggregate_functions.html">Aggregate Functions</a></li>
		<li><a href="/docs/v0.9/query_language/database_administration.html">Cluster Administration</a></li>
		<li><a href="/docs/v0.9/query_language/stats_diags.html">Statistics and Diagnostics</a></li>
	</ul>

	<h3>UI</h3>
	<ul>
		<li><a href="http://docs.grafana.org/datasources/influxdb/">Grafana Dashboards</a></li>
	</ul>
	
	<h3>Advanced Topics</h3>
	<ul>
		<li><a href="/docs/v0.9/advanced_topics/storage_engine.html">Storage Engine</a></li>
		<li><a href="/docs/v0.9/advanced_topics/clustering.html">Clustering</a></li>
		<li><a href="/docs/v0.9/advanced_topics/upgrading.html">Upgrading to 0.9</a></li>
	</ul>
	
	<!-- <h3>Data Sources</h3>
	<ul>
		<li><a href="/docs/v0.9/clustering/carbon.html">Carbon</a></li>
		<li><a href="/docs/v0.9/clustering/collectd.html">Collectd</a></li>
		<li><a href="/docs/v0.9/clustering/opentsdb.html">OpenTSDB</a></li>
		<li><a href="/docs/v0.9/clustering/diamond.html">Diamond</a></li>
	</ul> -->
	
	<h3>Client Libraries and Tools</h3>
	<ul>
		<li><a href="/docs/v0.9/clients/shell.html">InfluxDB Shell (CLI)</a></li>
	</ul>
	
	<h3>Contributing</h3>
	<ul>
		<li><a href="https://github.com/influxdb/influxdb/blob/master/CONTRIBUTING.md">Building and Contributing</a></li>
		<li><a href="/community/cla.html">CLA</a></li>
		<li><a href="https://github.com/influxdb/influxdb.com">To this Documentation</a></li>
		<li><a href="https://github.com/influxdb/influxdb/blob/master/LICENSE">License (MIT)</a></li>
	</ul>
	
	<h3>Docs for other versions</h3>
	<ul>
		<li><a href="/docs/v0.8/introduction/overview.html">v0.8</a></li></ul>
	</ul>

</aside>