<aside class="nav-docs">

	<a href="#" id="hideDocNav" class="hide-all-docs">Hide All Docs</a>

	<h2>InfluxDB Docs v0.9</h2>
	
	<h3>Introduction</h3>
	<ul>
		<li class="nav-active-item"><a href="/docs/v0.9/introduction/overview.html">Overview</a></li>
		<li><a href="/docs/v0.9/introduction/installation.html">Installation</a></li>
		<li><a href="/docs/v0.9/introduction/getting_started.html">Getting Started</a></li>
	</ul>
	
	<h3>Fundamentals</h3>
	<ul>
		<li><a href="/docs/v0.9/api/reading_and_writing_data.html">Reading &amp; Writing Data</a></li>
		<li><a href="/docs/v0.9/api/query_language.html">Query Language</a></li>
		<li><a href="/docs/v0.9/api/aggregate_functions.html">Aggregate Functions</a></li>
		<li><a href="/docs/v0.9/api/continuous_queries.html">Continuous Queries</a></li>
		<li><a href="/docs/v0.9/api/chunked_responses.html">Chunked HTTP Responses</a></li>
		<li><a href="/docs/v0.9/api/administration.html">Administration</a></li>
	</ul>
	
	<h3>UI</h3>
	<ul>
		<li><a href="/docs/v0.9/ui/built_in_admin_and_explorer.html">Built-in Admin and Explorer Interface</a></li>
		<li><a href="http://grafana.org/">Grafana Dashboards</a></li>
		<li><a href="https://github.com/hakobera/influga">Influga Dashboards</a></li>
	</ul>
	
	<h3>Advanced Topics</h3>
	<ul>
		<li><a href="/docs/v0.9/advanced_topics/sharding_and_storage.html">Underlying Storage and Shards</a></li>
		<li><a href="/docs/v0.9/advanced_topics/configuration_options.html">Configuration Options</a></li>
		<li><a href="/docs/v0.9/advanced_topics/schema_design.html">Schema Design</a></li>
		<li><a href="/docs/v0.9/advanced_topics/upgrading.html">Upgrading from Previous Versions</a></li>
	</ul>
	
	<h3>Clustering</h3>
	<ul>
		<li><a href="/docs/v0.9/clustering/design.html">Design</a></li>
		<li><a href="/docs/v0.9/clustering/setup.html">Setup</a></li>
	</ul>
	
	<h3>Guides</h3>
	<ul>
		<li><a href="/docs/v0.9/guides/intro.html">Introduction</a></li>
		<li><a href="/docs/v0.9/guides/replacing_graphite.html">Replacing Graphite</a></li>
		<li><a href="http://www.fluentd.org/guides/recipes/syslog-influxdb">Syslog Analytics with FluentD</a></li>
	</ul>
	
	<h3>Future Features</h3>
	<ul>
		<li><a href="/docs/v0.9/future/binary_protocol.html">Binary Protocol</a></li>
		<li><a href="/docs/v0.9/future/pubsub.html">Pubsub</a></li>
		<li><a href="/docs/v0.9/future/column_indexes.html">Column Indexes and Tags</a></li>
		<li><a href="/docs/v0.9/future/custom_functions.html">Custom Functions</a></li>
		<li><a href="/docs/v0.9/future/security.html">Security Enhancements</a></li>
		<li><a href="/docs/v0.9/future/merge.html">Merging Many Series</a></li>
	</ul>
	
	<h3>Client Libraries</h3>
	<ul>
		<li><a href="/docs/v0.9/client_libraries/javascript.html">JavaScript</a></li>
		<li><a href="https://github.com/influxdb/influxdb-ruby">Ruby</a></li>
		<li><a href="https://github.com/influxdb/influxdb-rails">Rails</a></li>
		<li><a href="/docs/v0.9/client_libraries/python.html">Python</a></li>
		<li><a href="https://github.com/puentesarrin/asyncflux">Python (async Tornado)</a></li>
		<li><a href="/docs/v0.9/client_libraries/node.html">Node.js</a></li>
		<li><a href="/docs/v0.9/client_libraries/php.html">PHP</a></li>
		<li><a href="https://github.com/influxdb/influxdb-java">Java</a></li>
		<li><a href="https://github.com/olauzon/capacitor">Clojure</a></li>
		<li><a href="https://github.com/mmaul/cl-influxdb">Common Lisp</a></li>
		<li><a href="https://github.com/davidB/metrics-influxdb">Java Metrics</a></li>
		<li><a href="https://github.com/influxdb/influxdb-go">Go</a></li>
		<li><a href="https://github.com/rcrowley/go-metrics">Go Metrics</a></li>
		<li><a href="https://github.com/influxdb/influxdb-scala">Scala</a></li>
		<li><a href="https://github.com/influxdb/influxdb-r">R</a></li>
		<li><a href="https://github.com/radekg/erflux">Erlang</a></li>
		<li><a href="https://github.com/saa/fluxer">Erlang (fluxer)</a></li>
		<li><a href="%20https://github.com/palkan/influx_udp">Erlang (UDP)</a></li>
		<li><a href="https://metacpan.org/pod/InfluxDB">Perl</a></li>
		<li><a href="https://github.com/maoe/influxdb-haskell">Haskell</a></li>
		<li><a href="https://github.com/ziyasal/InfluxDB.Net">.NET (C#)</a></li>
	</ul>
	
	<h3>Contributing</h3>
	<ul>
		<li><a href="https://github.com/influxdb/influxdb/blob/master/docs/contributing.md">Building and Contributing</a></li>
		<li><a href="/community/cla.html">CLA</a></li>
		<li><a href="https://github.com/influxdb/influxdb.org">To this Documentation</a></li>
		<li><a href="https://github.com/influxdb/influxdb/blob/master/LICENSE">License (MIT)</a></li>
	</ul>
	
	<h3>Other Libraries and Tools</h3>
	<ul>
		<li><a href="https://github.com/Dieterbe/influx-cli">CLI (Go)</a></li>
		<li><a href="https://github.com/FGRibreau/influxdb-cli">CLI (Node)</a></li>
		<li><a href="https://github.com/phstc/influxdb-cli">CLI (Ruby)</a></li>
		<li><a href="http://grafana.org/">Grafana (dashboards)</a></li>
		<li><a href="https://github.com/vimeo/graphite-influxdb">Graphite-Influxdb bridge</a></li>
		<li><a href="https://github.com/obfuscurity/tasseo">Tasseo (realtime dashboard)</a></li>
		<li><a href="https://github.com/bernd/statsd-influxdb-backend">StatsD Backend</a></li>
		<li><a href="https://github.com/bpaquet/collectd-influxdb-proxy">CollectD Proxy</a></li>
		<li><a href="https://github.com/fangli/fluent-plugin-influxdb">FluentD Plugin</a></li>
		<li><a href="https://github.com/lusis/sensu_influxdb_handler">Sensu Handler</a></li>
		<li><a href="https://github.com/SimpleFinance/chef-handler-influxdb">Chef Handler/Reporter</a></li>
		<li><a href="https://github.com/CargoSense/puppet-influxdb">Config Management via Boxen</a></li>
		<li><a href="https://github.com/savoirfairelinux/mod-influxdb">Shinken module</a></li>
		<li><a href="https://github.com/ezotrank/logsend">LogSend</a></li>
	</ul>
	
	<h3>Docs Versions</h3>
	<ul>
		<li><a href="/docs/v0.9/introduction/overview.html">v0.9</a></li></ul>
	</ul>

</aside>