<footer>
	
	<nav class="nav-footer">
		<ol>
			<li><a href="/support/index.html">Support</a></li>
			<li><a href="https://customers.influxdb.com/">Hosting</a></li>
			<li><a href="/docs/v0.9/introduction/overview.html">Docs</a></li>
			<li><a href="/blog.html">Blog</a></li>
			<li><a href="/community/index.html">Community</a></li>
			<li><a href="https://boards.greenhouse.io/influxdb">Jobs</a></li>
			<li><a href="/contact/index.html">Contact</a></li>
			<li><a href="/download/index.html">Download</a></li>
		</ol>
	</nav>
	
	<ul class="footer-social">
		<li><a href="https://twitter.com/influxdb" class="link-twitter">Follow @influxdb on Twitter</a></li>
		<li><a href="https://github.com/influxdb/influxdb" class="link-github">Watch InfluxDB on Github</a></p></li>
	</ul>
	
	<p>&copy; 2015 <a href="https://influxdb.com/">InfluxDB</a>. All Rights Reserved.</p>
	
</footer>

<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
		 http://chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src='/js/jquery-1.10.2.min.js'></script>
<script src="/js/functions.js"></script>

<!-- syntax highlighting script -->
<script src="/js/prism.min.js"></script>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-45024174-1', 'auto');
	ga('send', 'pageview');
</script>
  
</body>
</html>
