<footer>
	
	<nav class="nav-footer">
		<ol>
			<li><a href="">Support</a></li>
			<li><a href="http://customers.influxdb.com">Hosting</a></li>
			<li><a href="download.html">Download</a></li>
			<li><a href="">Docs</a></li>
			<li><a href="">Blog</a></li>
			<li><a href="">Community</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Contact</a></li>
		</ol>
	</nav>
	
	<ul class="footer-social">
		<li><a href="#" class="link-twitter">Follow @influxdb on Twitter</a></li>
		<li><a href="#" class="link-github">Fork influxDB at Github</a></p></li>
	</ul>
	
	<p>Copyright 2015 InfluxDB. All Rights Reserved.</p>
	
</footer>


<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
		 http://chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src='/js/jquery-1.10.2.min.js'></script>

<!-- this is where we put our custom functions -->
<!-- don't forget to concatenate and minify if needed -->
<script src="/js/functions.js"></script>

<!-- syntax highlighting script -->
<script src="/js/prism.min.js"></script>

<!-- Asynchronous google analytics; this is the official snippet.
	 Replace UA-XXXXXX-XX with your site's ID and uncomment to enable.
	 
<script>

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXX-XX']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
-->
  
</body>
</html>