<nav id="main-nav" class="nav-main">
	<ol>
		<li><a href="/support/index.html">Support</a></li>
		<li><a href="https://customers.influxdb.com/">Hosting</a></li>
		<li><a href="/docs/v0.9/introduction/overview.html">Docs</a></li>
		<li><a href="/chronograf/index.html">Chronograf</a></li>
		<li><a href="/blog.html">Blog</a></li>
		<li><a href="/community/index.html">Community</a></li>
		<li><a href="https://boards.greenhouse.io/influxdb">Jobs</a></li>
		<li><a href="/contact/index.html">Contact</a></li>
		<li class="download"><a href="/download/index.html">Download</a></li>
	</ol>
	
	<!--
<form class="search-site">
		<a href="#" class="search-toggle">Show Search</a>
		<input type="text" class="search-entry" placeholder="Search">
		<input type="submit">
	</form>
-->
</nav>
