<aside class="article-sidebar">
	
	<h4>About InfluxDB</h4>
	
	<p>InfluxDB is an open source distributed time series, metrics, and events database.</p>
	
	<h4>Sign Up For Our Newsletter</h4>
	
	<form class="contact-form" action="https://errplane.us5.list-manage.com/subscribe/post?u=4d17b6adac2728b1ea6e4926b&amp;id=08af34971b" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" target="_blank">
		<p>
			<input class="email" id="mce-EMAIL" name="EMAIL" placeholder="email address" type="email" value="">
		</p>
		<p>
			<input class="button radius" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe">
		</p>
	</form>
	
</aside>