<aside class="article-sidebar">
	
	<h4>About InfluxDB</h4>
	
	<p>InfluxDB is an open source distributed time series, metrics, and events database.</p>
	
	<h4>Sign Up For Our Newsletter</h4>
	
	<form class="contact-form" action="http://errplane.us5.list-manage.com/subscribe/post?u=4d17b6adac2728b1ea6e4926b&amp;id=08af34971b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<p>
				<label for="mce-EMAIL">Email Address</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
			</p>
			<p>
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button radius">
			</p>
	</form>
	
</aside>