{{ partial "header.html" . }}
{{ partial "logo.html" . }}
<div class="page-content">	
	<article class="article-docs article-main-column">
		<h1 class="docs header">InfluxDB Blog</h1>
		<ul class="blog-archive">
		{{ range .Data.Pages.ByPublishDate.Reverse }}
			<li>
				<h5 class="blog-post-metadata"><b>Paul Dix</b> &middot; {{ .Date.Format "January 2, 2006" }}</h5>
				<h2 class="blog-heading"><a href="{{ .Permalink }}">{{ .Title }}</a>
                    <p id="twitter" style="float:right;">
                        <a class="twitter-share-button" data-via="influxdb" href="https://twitter.com/share"></a>
                    </p>
                    <script type="text/javascript">
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                    </script>
                </h2>
				<p>{{ .Summary }}</p>
				{{ if .Truncated }}
				<p><a href="{{ .Permalink }}">Read More &raquo;</a></p>
				{{ end }}
			</li>
		{{ end }}
		</ul>
	</article>
	{{ partial "sidebar.html" . }}
</div>
{{ partial "nav.html" . }}
{{ partial "footer.html" . }}
